@if(apiPublicContent)
  Route.group(() => {
      {{{ apiPublicContent }}}
    })
    .middleware(['auth'])
    .prefix('/api')
@endif

@if(apiAuthContent)
  Route.group(() => {
      {{{ apiAuthContent }}}
    })
    .middleware(['auth'])
    .prefix('/api')
@endif
