HOST=0.0.0.0
PORT=3333
NODE_ENV=development
APP_KEY=yNKZ3IHs98Jq4VDuNsKJNax2vy-DRSGG
CACHE_VIEWS=false
DRIVE_DISK=local
UI_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_DEBUG=true
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=snowball
MYSQL_PASSWORD=snowball
MYSQL_DB_NAME=creator

PROJECT_PATH=../GeneratedProjects

MAIL_FROM_ADDRESS=noreply@pcsudhar.com
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD=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

REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

ENABLE_HOSTING=true
HOSTING_UI_DOMAIN=example.com
HOSTING_API_DOMAIN=api.example.com
ROOT_MYSQL_HOST=localhost
ROOT_MYSQL_PORT=3306
ROOT_MYSQL_PASSWORD=creator

STRIPE_SECRET_KEY=sk_test_mDXULPmPcOSd6C5YWHUfFMbJ00dvmgwpaJ