
Route.group(() => {
  // Route forgot password
  Route.post('/password/forget/request', 'API/PasswordResetController.sendResetEmail')
  Route.post('/password/forget/verify', 'API/PasswordResetController.verifyToken')
  Route.post('/password/forget/update', 'API/PasswordResetController.updatePassword')
}).prefix('/api')
