
DB_CONNECTION=mysql
DB_DEBUG=false

@if(database === 'MySQL')

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER={{this.input.hosting.databaseName}}
MYSQL_PASSWORD={{this.input.hosting.databaseUser}}
MYSQL_DB_NAME={{this.input.hosting.databasePassword}}

@endif
@if(database === 'PostgreSQL')

PG_HOST=localhost
PG_PORT=5432
PG_USER={{this.input.hosting.databaseName}}
PG_PASSWORD={{this.input.hosting.databaseUser}}
PG_DB_NAME={{this.input.hosting.databaseName}}

@endif
