
DB_CONNECTION=mysql
DB_DEBUG=false

@if(database === 'MySQL')

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER={{ input.hosting.databaseUser }}
MYSQL_PASSWORD={{ input.hosting.databasePassword }}
MYSQL_DB_NAME={{ input.hosting.databaseName }}

@endif
@if(database === 'PostgreSQL')

PG_HOST=localhost
PG_PORT=5432
PG_USER={{ input.hosting.databaseName }}
PG_PASSWORD={{ input.hosting.databaseUser }}
PG_DB_NAME={{ input.hosting.databaseName }}

@endif
