
DB_CONNECTION=mysql
DB_DEBUG=false

@if(database === 'MySQL')

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=placeholder
MYSQL_PASSWORD=placeholder
MYSQL_DB_NAME=placeholder

@endif
@if(database === 'PostgreSQL')

PG_HOST=localhost
PG_PORT=5432
PG_USER=placeholder
PG_PASSWORD=placeholder
PG_DB_NAME=placeholder

@endif
