@if(mailers.includes('smtp'))
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
@endif
@if(mailers.includes('ses'))
SES_ACCESS_KEY=
SES_ACCESS_SECRET=
SES_REGION=
@endif
@if(mailers.includes('mailgun'))
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
@endif
@if(mailers.includes('sparkpost'))
SPARKPOST_API_KEY=
@endif
