<template>
  <footer class="section py-10">
    <div class="columns">
      <div class="column px-0">
        <div class="has-text-centered">
          <p>&copy; Copyright {{ new Date().getFullYear() }}</p>
        </div>
      </div>
    </div>
  </footer>
</template>
