import { schema, rules } from '@ioc:Adonis/Core/Validator'
import { HttpContextContract } from '@ioc:Adonis/Core/HttpContext'

export default class LoginValidator {
  constructor (protected ctx: HttpContextContract) {}

  public schema = schema.create({
    email: schema.string({ trim: true }, [rules.email(), rules.maxLength({{ email.meta.maxLength || 256 }})]),
    password: schema.string({ trim: true }, [rules.maxLength({{ password.meta.maxLength || 72 }})]),
  })

  public messages = {}
}
