@if(storageDrivers.includes('S3'))

S3_KEY=placeholder
S3_SECRET=placeholder
S3_BUCKET=placeholder
S3_REGION=placeholder
S3_ENDPOINT=placeholder

@endif
@if(storageDrivers.includes('GCS'))

GCS_KEY_FILENAME=./placeholder.json
GCS_BUCKET=placeholder

@endif
