@if(column.meta.required)
  <b-tooltip
    v-if="isFailingRequiredValidation(props.row.{{ column.names.camelCase }})"
    label="Field is required"
    type="is-danger"
  >
    <b-icon
      size="is-small"
      type="is-danger"
      icon="alert-circle-outline"
    ></b-icon>
  </b-tooltip>
@endif