<template>
  <div id="app">
    <div class="section">
      <nav-bar></nav-bar>
    </div>
    <div class="section">
      <router-view/>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
  name: 'App',
  components: {
    'nav-bar': NavBar,
  },
  methods: {},
};
</script>
