<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view/>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import NavBar from '@/components/NavBar.vue';

export default {
  name: 'App',

  mounted() {
    this.refreshUser();
  },

  components: {
    'nav-bar': NavBar,
  },

  methods: {
    ...mapActions("auth", {
      refreshUser: "refreshUser",
    }),
  },
};
</script>
