name: Deploy to testing
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install SSH
      run: 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y && apt clean )'

    - name: Run SSH
      run: eval $(ssh-agent -s) && echo "$SSH_KEY" | tr -d '\r' | ssh-add - && mkdir -p ~/.ssh && chmod 700 ~/.ssh && ssh-keyscan -p $PORT $HOST >> ~/.ssh/known_hosts && chmod 644 ~/.ssh/known_hosts && ssh -p $PORT $USER@$HOST 'cd /home/ubuntu/Projects/creator_api && git pull'

      env:
        SSH_KEY: ${{ secrets.SSH_KEY }}
        HOST: ${{ secrets.HOST }}
        PORT: ${{ secrets.PORT }}
        USER: ${{ secrets.USER }}
